body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #2c3e50;
    font-family: sans-serif;
    margin: 0;
    overflow: hidden;

}

.card-container {
    width: 250px;
    height: 350px;
    perspective: 1000px;
    cursor: pointer;
    margin: 20px;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.7s;
    transform-style: preserve-3d;
}

.card-container:hover .card {
    transform: rotateY(180deg);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    overflow: hidden; 

    box-sizing: border-box;
    border: 10px solid white;
}

.card-face img {
    height: 100%;
    object-fit: cover; 
}
.card-face .card-blank {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
    align-items: center;
    text-align: center;
}

.card-center-text {
    margin: 0 auto;
    display: block;

}

.card-text {
    font-size: 24pt;
    font-weight: bold;
}

.symbol {
    position: absolute;
    font-size: 40px;
}

.top-left {
    top: 10px;
    left: 10px;
}
.bottom-right {
    bottom: 10px;
    right: 10px;
}


.card-front {
}

.card-back {
    transform: rotateY(180deg);
}

.red {
    color: #E00000;
}

.cat-walking {
    position: absolute;
    bottom: -5px;
    
}

.rotate {
    transform: rotateY(180deg);
  }